{% extends "main.html" %}
{%load static%}
{%block content%}
<div class="row">
    <div class="col-sm-2">
        <a href="/accounts/profile/orders"><h3>Список заказов</h3></a><br>
        <a href="/accounts/profile/make_order"><h3>Сделать заказ</h3></a>
    </div>
    <div class="col-sm-10">
    {%for o in Order%}
    <div class="line2"><center><h1 class="black">Заказ номер {{o.id_order}}</h1></center></div>
    <table class="table">
        <tbody>
           <tr>
               <td>Имя заказчика</td>
               <td>{{o.id_client.Full_name}}</td>
           </tr>
           <tr>
               <td>Имя оператора</td>
               <td>{{o.id_operator.Full_name}}</td>
           </tr>
           <tr>
               <td>Имя водителя</td>
               <td>{{o.id_worker.Full_name}}</td>
           </tr>
           <tr>
               <td>Адрес отправки</td>
               <td>{{o.addressPV}}</td>
           </tr>
           <tr>
               <td>Адрес назначения</td>
               <td> {{o.addressPD}}</td>
           </tr>
           <tr>
               <td>Время заявки</td>
               <td>{{o.date}}</td>
           </tr>
           <tr>
            <td>Дата заявки и время</td>
            <td>{{o.time}}</td>
        </tr>
        <tr>
            <td>Статус заявки</td>
            <td>{{o.confirmation_order}}</td>
        </tr>
        <tr>
            <td>Количество объектов</td>
            <td>{{o.count_objects}}</td>
        </tr>
        <tr>
            <td>Масса посылки</td>
            <td>{{o.weight}}</td>
        </tr>
        <tr>
            <td>Цена</td>
            <td>{{o.price}}</td>
        </tr>
        <tr>
            <td>Тип оплаты</td>
            <td>{%if o.type_pay == 'cash'%} Наличные {%else%} Картой {%endif%}</td>
        </tr>

       </tbody>
    </table>
    {% endfor %}
    </div>
</div>
{%endblock%}

