{% extends "main.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-2">
        <a href="/accounts/profile/orders"><h3>Список заказов</h3></a><br>
        <a href="/accounts/profile/make_order"><h3>Сделать заказ</h3></a>
    </div>
    <div class="col-sm-10">
        <center>
            <h1 class="line1">Введите данные заказа</h1>
            <form action="" method="post">
                {{ order_form.as_p }}
                {% csrf_token %}
                <div>
                    <input type="checkbox" name="loading" id="test">
                    <label for="test">Погрузка</label>  
                </div>
                <div>
                    <input type="checkbox" name="unloading" id="unloading">
                    <label for="unloading">Разгрузка</label>  
                </div>
                <div>
                    <input type="checkbox" name="packaging" id="packaging">
                    <label for="test">Упаковка</label>  
                </div>
                <p><input type="submit" value="Сделать заказ"></p>                
            </form>
        </center>
    </div>
</div>

{% endblock %}

