{% extends "main.html" %}
{%block content%}
    <div class="col-sm-12">
        <h1 align="center">Услуги предоставляемые компанией</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Услуга</th>
                    <th>Стоимость</th>
                </tr>
            </thead>    
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Переезд из квартиры под ключ</td>
                    <td>20000</td>
                </tr>
            </tbody>
        </table>
    </div>
{%endblock%}